<p id="notice"><%= notice %></p>

<h1>Hotels</h1>
<div id="app">
  {{ message }}

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="hotel in hotels">
        <td>{{hotel.name}}</td>
        <td><button v-on:click="tester">Tester</button></td>
      </tr>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Hotel', new_hotel_path %>
